/* shared style */
body {
    max-width: 1170px;
}

* {
    font-family: 'Mulish', sans-serif;
    margin: auto;
}

.description {
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0px 247px 48px;
}


/* nav styling */
nav {
    display: flex;
    margin-top: 52px;
}

.nav-details {
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    padding: 10px 0px;
}

nav li {
    list-style: none;
    margin-right: 44px;
    color: #424247;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
}

.nav-title {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
    margin-left: 16px;
}

nav .burger {
    display: none;
    /* position: static; */
    cursor: pointer;
    /* left: 86%; */
    /* top: 47px; */
}

.burger .line {
    width: 33px;
    background-color: black;
    height: 6px;
    margin: 5px 3px;
    border-radius: 3px;
}

/* banner styling */
.banner {
    background: linear-gradient(to bottom, rgb(19, 19, 24, 0.80), transparent), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    border-radius: 16px;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}

.banner-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    padding-top: 106px;
    margin-bottom: 24px;
}

.banner-menu {
    display: inline-flex;
    padding: 20px;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-bottom: 106px;
}

.banner-menu input,
select,
option {
    width: 80px;
    border-radius: 8px;
    background: #FFF;
    border: 0px;
    padding: 16px 50px 16px 16px;
}

#select {
    width: 150px;
}

.banner-menu .btn-primary {
    border-radius: 8px;
    color: #FFF;
    border: 0px;
    padding: 16px 30px;
    border-radius: 8px;
    background: #FF5400;
    border: 0px;
}

.banner-menu .btn-primary i {
    margin-right: 8px;
}

/* section styling */
section {
    margin: 100px auto;
}

/* first section styling */
.first-section {
    display: flex;

}

.popular-tours {
    margin-right: 54px;
}

.popular-tour-title {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.popular-tours-description {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.popular-tour-lists li {
    margin-top: 24px;
    margin-bottom: 24px;
}

.popular-tours .btn-primary {
    color: #FFF;
    background: #FF5400;
    border: 0px;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    padding: 14px 35px;
    margin-top: 24px;
}

/* second section styling */
.choose-destination {
    text-align: center;
}

.choose-destination-title {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.choose-destination-description {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}

/* third seeection styling */
.choosing {
    text-align: center;
    margin-bottom: 48px;
}

.choosing-title {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.choosing-description {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    width: 573px;
    height: 315px;
}

.card-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(104, 99, 251, 0.05);
    margin-right: 24px;
}

.card-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.card-3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    position: relative;
    left: 50%;
    margin-top: 24px;
}

.card-img {
    margin: 32px;
}

.card-title {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    margin-left: 32px;
    margin-bottom: 16px;
}

.card-description {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-left: 32px;
    margin-bottom: 32px;
    margin-right: 55px;
}


/* mobile responsive */
@media screen and (max-width: 600px) {
    * {
        margin: auto;
    }

    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    nav {
        position: relative;
    }

    nav .burger {
        display: block;
        position: absolute;
        right: 6%;
        bottom: 33%;
    }

    .v-class {
        opacity: 0;
    }

    nav {
        margin: 20px;
    }

    .banner {
        height: 500px;
        margin: 20px;
    }

    .banner-title {
        font-size: 22px;
        margin-bottom: 8px;
        padding-top: 32px;
    }

    .description {
        font-size: 14px;
        margin: 10px 10px;
        text-align: center;

    }

    .banner-menu {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
        margin: 0px 24px 32px;
    }

    .banner-menu input {
        width: 180px;
    }

    #select {
        width: 240px;
    }

    .first-section {
        flex-direction: column;
        margin: 0px 20px;
    }

    .popular-tour-title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .popular-tours-description {
        font-size: 14px;
    }

    .popular-tour-lists li {
        margin-top: 16px;
    }

    .popular-tours-img {
        margin: 20px 0px;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 20px;
    }

    .second-section {
        margin: 20px 24px;
    }

    .choose-destination-title {
        font-size: 20px;
    }

    .choose-destination-description {
        font-size: 14px;
    }

    .row {
        display: flex;
        flex-direction: column;
        object-fit: cover;
    }

    .row img {
        width: 380px;
        height: 200px;
    }

    .third-section {
        margin: 20px 24px;
    }

    .choosing-title {
        font-size: 20px;
    }

    .choosing-description {
        font-size: 14px;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        width: 340px;
        height: 400px;
    }
    .card-2{
        margin-top: 16px;
    }
    .card-3 {
        position: relative;
        left: 0px;
        margin-top: 16px;
    }
}