/* shared style */
body{
    max-width: 1170px;
}
* {
    font-family: 'Mulish', sans-serif;
    margin: auto;
}

.description {
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0px 247px 48px;
}


/* nav styling */
nav {
    display: flex;
    margin-top: 52px;
}

.nav-details {
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    padding: 10px 0px;
}

nav li {
    list-style: none;
    margin-right: 44px;
    color: #424247;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
}

.nav-title {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
    margin-left: 16px;
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    left: 86%;
    top: 47px;
}
.burger .line{
    width: 33px;
    background-color: black;
    height: 6px;
    margin: 5px 3px;
    border-radius: 3px;
}
/* banner styling */
.banner {
    background: linear-gradient(to bottom, rgb(19, 19, 24, 0.80), transparent), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    border-radius: 16px;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}

.banner-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    padding-top: 106px;
    margin-bottom: 24px;
}

.banner-menu {
    display: inline-flex;
    padding: 20px;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-bottom: 106px;
}

.banner-menu input,select,option{
    width: 80px;
    border-radius: 8px;
    background: #FFF;
    border: 0px;
    padding: 16px 50px 16px 16px;
}
#select{
    width: 150px;
}
.banner-menu .btn-primary {
    border-radius: 8px;
    color: #FFF;
    border: 0px;
    padding: 16px 30px;
    border-radius: 8px;
    background: #FF5400;
    border: 0px;
}
.banner-menu .btn-primary i{
    margin-right: 8px;
}

/* mobile responsive */
@media screen and (max-width: 600px) {
    *{
        margin: auto;
    }
    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .burger{
        display: block;
    }
    .v-class{
        opacity: 0;
    }
    nav{
        margin: 20px;
    }
    .banner{
       height: 500px;
       margin: 20px;
    }
    .banner-title{
        font-size: 22px;
        margin-bottom: 8px;
        padding-top: 32px;
    }
    .description{
        font-size: 14px;
        margin: 10px 10px;
        text-align: center;

    }
    .banner-menu{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 16px;
        margin: 0px 24px 32px;
    }
    .banner-menu input{
        width: 180px;
    }
    #select{
        width: 240px;
    }
}