/* shared style */
body header,
main {
    max-width: 1170px;
}

* {
    font-family: 'Mulish', sans-serif;
    margin: auto;
}

.description {
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0px 247px 48px;
}


/* nav styling */
nav {
    display: flex;
    margin-top: 52px;
}

.nav-details {
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    padding: 10px 0px;
}

nav li {
    list-style: none;
    margin-right: 44px;
    color: #424247;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
}

.nav-title {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
    margin-left: 16px;
}

nav .burger {
    display: none;
    /* position: static; */
    cursor: pointer;
    /* left: 86%; */
    /* top: 47px; */
}

.burger .line {
    width: 33px;
    background-color: black;
    height: 6px;
    margin: 5px 3px;
    border-radius: 3px;
}

/* banner styling */
.banner {
    background: linear-gradient(to bottom, rgb(19, 19, 24, 0.80), transparent), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    border-radius: 16px;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}

.banner-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    padding-top: 106px;
    margin-bottom: 24px;
}

.banner-menu {
    display: inline-flex;
    padding: 20px;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-bottom: 106px;
}

.banner-menu input,
select,
option {
    width: 80px;
    border-radius: 8px;
    background: #FFF;
    border: 0px;
    padding: 16px 50px 16px 16px;
}

#select {
    width: 150px;
}

.banner-menu .btn-primary {
    border-radius: 8px;
    color: #FFF;
    border: 0px;
    padding: 16px 30px;
    border-radius: 8px;
    background: #FF5400;
    border: 0px;
}

.banner-menu .btn-primary i {
    margin-right: 8px;
}

/* section styling */
section {
    margin: 100px auto;
}

/* first section styling */
.first-section {
    display: flex;

}

.popular-tours {
    margin-right: 54px;
}

.popular-tour-title {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.popular-tours-description {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.popular-tour-lists li {
    margin-top: 24px;
    margin-bottom: 24px;
}

.popular-tours .btn-primary {
    color: #FFF;
    background: #FF5400;
    border: 0px;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    padding: 14px 35px;
    margin-top: 24px;
}

/* second section styling */
.choose-destination {
    text-align: center;
}

.choose-destination-title {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.choose-destination-description {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}

/* third seeection styling */
.choosing {
    text-align: center;
    margin-bottom: 48px;
}

.choosing-title {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.choosing-description {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    width: 573px;
    height: 315px;
}

.card-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(104, 99, 251, 0.05);
    margin-right: 24px;
}

.card-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.card-3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    position: relative;
    left: 50%;
    margin-top: 24px;
}

.card-img {
    margin: 32px;
}

.card-title {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    margin-left: 32px;
    margin-bottom: 16px;
}

.card-description {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-left: 32px;
    margin-bottom: 32px;
    margin-right: 55px;
}

/* fifth section styling */
.fifth-section {
    display: flex;
}

.perfect-place {
    margin-right: 112px;
}

.perfect-place-title {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
}

.perfect-place-description {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 16px;
}

.perfect-place-menu li {
    color: #131318;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 16px;
}

.perfect-place .btn-primary {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    border: 0px;
    padding: 14px 42px;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    margin-top: 20px;
}

/* sixth section styling */
.sixth-section {
    display: flex;
}

.form-container {
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    margin-right: 24px;
}

.form-container hr {
    margin-bottom: 24px;
}

.form-title {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;
}

.form-description {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
}

.form-container input {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 22px;
    border: 0px;
    text-align: center;
}

.form-container .btn-primary {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: 0px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
}

.form-img .btn-primary {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    border: 0px;
    position: absolute;
    left: 341px;
    bottom: 52px;
}

.form-img h6 {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 400;
}

.form-img h4 {
    color: #FFF;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
}

.form-img {
    position: relative;
}

/* footer styling */
footer {
    margin: 0px;
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
    height: 500px;
}

.footer-title {
    display: flex;
    gap: 10px;
    width: 250px;
    padding-top: 110px;
}

.footer-title h4 {
    color: #131318;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
}

.footer-description {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 15px 336px 33px;
}

.social-links {
    margin: 17px 680px 50px;
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;

}

.social-links li {
    list-style: none;
}

footer hr {
    margin-bottom: 50px;
}

.copyright {
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 110px;
}

.fourth-section {
    text-align: center;
}

.booking-title {
    color: #14183E;
    font-family: Volkhov;
    font-size: 66.506px;
    font-weight: 700;
    text-transform: capitalize;
}

.booking {
    padding: 50px;
}

.step-title {
    color: #5E6282;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 700;
    line-height: 124.5%;
    margin: 20px;
}
.step-description{
    color: #5E6282;
font-family: Poppins;
font-size: 24ps;
font-weight: 400;
line-height: 124.5%; 
}
.steps {
    width: 600px;
    height: 250px;
    border-radius: 16px;
    border: 1px solid rgba(237, 158, 68, 0.2);
    background: rgba(19, 12, 204, 0.05);
    padding: 40px;
    box-shadow: 0 15px 30px rgba(206, 91, 91, 0.1);
    margin-top: 20px;
}
.step-icon-3{
    margin-top: 20px;
}
.steps-3{
    margin-top: 40px;
}
/* mobile responsive */
@media screen and (max-width: 600px) {
    * {
        margin: auto;
    }

    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    nav {
        position: relative;
    }

    nav .burger {
        display: block;
        position: absolute;
        right: 6%;
        bottom: 33%;
    }

    .v-class {
        opacity: 0;
    }

    nav {
        margin: 20px;
    }

    .banner {
        height: 500px;
        margin: 20px;
    }

    .banner-title {
        font-size: 22px;
        margin-bottom: 8px;
        padding-top: 32px;
    }

    .description {
        font-size: 14px;
        margin: 10px 10px;
        text-align: center;

    }

    .banner-menu {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
        margin: 0px 24px 32px;
    }

    .banner-menu input {
        width: 180px;
    }

    #select {
        width: 240px;
    }

    .first-section {
        flex-direction: column;
        margin: 0px 20px;
    }

    .popular-tour-title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .popular-tours-description {
        font-size: 14px;
    }

    .popular-tour-lists li {
        margin-top: 16px;
    }

    .popular-tours-img {
        margin: 20px 0px;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 20px;
    }

    .second-section {
        margin: 20px 24px;
    }

    .choose-destination-title {
        font-size: 20px;
    }

    .choose-destination-description {
        font-size: 14px;
    }

    .row {
        display: flex;
        flex-direction: column;
        object-fit: cover;
    }

    .row img {
        width: 380px;
        height: 200px;
    }

    .third-section {
        margin: 20px 24px;
    }

    .choosing-title {
        font-size: 20px;
    }

    .choosing-description {
        font-size: 14px;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        width: 340px;
        height: 400px;
    }

    .card-2 {
        margin-top: 16px;
    }

    .card-3 {
        position: relative;
        left: 0px;
        margin-top: 16px;
    }

    .fifth-section {
        margin: 0px 24px;
        flex-direction: column;
    }

    .perfect-place {
        text-align: center;
        margin: 0px 20px;
    }

    .perfect-place-title {
        font-size: 26px;
        margin: 0px;
    }

    .perfect-place-description {
        font-size: 14px;
        margin-top: 16px;
    }

    .perfect-place .btn-primary {
        margin-bottom: 20px;
    }

    .perfect-place-img {
        margin: 20px 0px;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 20px;
    }

    .sixth-section {
        flex-direction: column;
        margin: 0px 24px;
    }

    .form-container {
        width: 335px;
        height: 353px;
        margin-bottom: 24px;
    }

    .form-container input {
        width: 288px;
    }

    .form-container .btn-primary {
        width: 288px;
    }

    .form-img {
        margin: 20px 0px;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 20px;
    }

    .form-img h6 {
        font-size: 15.854px;
    }

    .form-img h4 {
        font-size: 21.138px;
    }

    .form-img .btn-primary {
        width: 214.023px;
        height: 79.268px;
        position: absolute;
        left: 40%;
        bottom: 10%;
    }

    .footer-title {
        padding-top: 50px;
    }

    .footer-description {
        margin: 20px 0px;
    }

    .social-links {
        margin: 17px 130px 30px;
    }

    .fourth-section {
        margin: 0px 24px;
    }

    .booking-title {
        font-size: 40px;
        margin-top: 20px;
        text-align: center;
    }
    .steps {
        width: 300px;
        height: 300px;
    }
    .step-icon-3{
        margin-top: 0px;
    }
    .steps-3{
        margin-top: 40px;
    }
}